<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastro</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq784WKGBtfBTZJLF6v9UUz2zMAI6h+93QyEI/dbg68FD8x23" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .container {
            margin-top: 100px;
        }

<!--        form {-->
<!--            margin: 0 auto;-->
<!--            width: 50%;-->
<!--        }-->
    </style>
</head>
<body>

<div class="container" >

    <h1>Cadastro</h1>

    <form action="/cadastro" method="post" class="row g-3">
        <div class="col-md-4">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="col-md-4">
            <label for="surname">Sobrenome</label>
            <input type="text" class="form-control" id="surname" name="surname" required>
        </div>
        <div class="col-md-4">
            <label for="legalName">Razão Social</label>
            <input type="text" class="form-control" id="legalName" name="legalName" required>
        </div>
        <div class="col-md-6">
            <label for="cnpj">CNPJ</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj" required>
        </div>
        <div class="col-md-4">
            <label for="address">Endereço</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="col-md-2">
            <label for="zipCode">CEP</label>
            <input type="text" class="form-control" id="zipCode" name="zipCode" required>
        </div>
        <div class="col-mb-4">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="col-md-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
